$token-color-base-primary: #0c0745;
$token-color-base-secondary: #fc7aa5;
$token-color-background: #d8d8d8;
$token-color-text: #4422d7;
$token-font-family-base: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$token-font-family-code: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
$token-size-text-small: 0.75rem;
$token-size-text-medium: 1.125rem;
$token-size-text-base: 1.125rem;
$token-size-text-large: 2rem;
$token-spacing-small: 10px;
$token-spacing-medium: 30px;
$token-spacing-large: 40px;
